@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", serif;
    user-select: none;
}

body{
    background-color: #f0f0f0;
}

/* ESTILOS INICIO (HEADER) */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #590091;  
    padding: 10px;
    border-bottom: 2px solid #ffbf00;
}

h1 a{
    color: #fff;
    text-align: center;
    margin: 0 15px;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin: 40px;
}

ul li a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: 0.20s;
}

ul li a:hover{
    color: #80ff7a;
    background-color: blueviolet;
    border-radius: 7px;
}

button{
    padding: 10px;
    background: none;
    outline: none;
    border: none;
}

header i{
    font-size: 30px;
    color: #fff;
    margin: 0 10px;
    transition: 0.20s;
}

header i:hover{
    color: #ff0000;
}

#ativado{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 7px;
}
/* FIM ESTILOS INICIO (HEADER) */

/* INICIO ESTILOS (MAIN) */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.inicio{
    width: 100%;
    height: 48px;
    margin: 30px 0 150px 0;
    text-align: center;
    border-bottom: 1px solid #555;
}

.apresentacao{
    text-align: center;
    margin: 0 0 40px 0;
}

.cartoes{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #555;
}

.cartao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-cartao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cartao img{
    width: 50%;
    border-radius: 10px;
    transition: 0.30s;
}

.img-cartao img:hover{
    transform: scale(1.1);
}

.titulo h2{
    font-size: 20px;
    margin: 30px 0;
}


.cartoes button{
    width: 50%;
    height: 30px;
    padding: 10px;
    border-radius: 7px;
    background: #590091;
    color: #fff;
    transition: 0.20s;
}

.cartoes button:hover{
    background: #8800dc;
}

.convite{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.convite button{
    width: 30%;
    height: 30px;
    padding: 10px;
    border-radius: 7px;
    background: #004f9f;
    color: #fff;
    transition: 0.20s;
    text-align: center;
}

.convite button:hover{
    background: #006dd9;
}

.convite p{
    margin: 20px 0;
}
/* FIM ESTILOS (MAIN) */

/* ESTILOS FINAL (FOOTER) */
footer{
    background: #000;
    padding: 20px;
    border-top: 2px solid #ffbf00;
}

.container-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;   
    margin: 0 auto;
}

.redes-sociais{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.redes-sociais h3{
    margin: 20px 0;
    font-size: 25px;
}

.lk-redes{
    font-size: 30px;
}

.lk-redes i{
    margin: 0 10px;
    font-size: 25px;
}

.redes-sociais i{
    color: #fff;
    transition: 0.20s;
}

.redes-sociais i:hover{
    color: #555;
}

.links-uteis{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: #fff;
}

.links-uteis h3{
    margin: 20px 0;
    font-size: 25px;
}

.links-uteis a{
    color: #ccc;
    text-decoration: none;
    font-size: 18px;
    transition: 0.20s;
}

.links-uteis a:hover{
    color: #555;
}

footer p{
    margin: 20px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-top: 2px solid #2c2c2c;
}